<div class="container">
    <h1 class="mb-3 text-capitalize">Trang chủ</h1>
    <div class="row">
        <div class="news-feed-area col-8 ">
            {{>news-feed}}
        </div>
        <div class="col-4">
            hello
        </div>
    </div>
</div>