<div class="container">
    <h1 class="mb-3 text-uppercase">Dashboard Department</h1>
    <div class="row flex-row-reverse">
        <div class="col-12 col-lg-4">
            <div class="sticky-top-area">
                {{>notify-card}}
            </div>
        </div>
        <div class="news-feed-area col-12 col-lg-8">
            {{>news-feed}}
        </div>
    </div>
</div>