<div class="container">
    <h1 class="mb-3 text-uppercase">Notification detail</h1>
    <div class="row p-lg-4 bg-white rounded ">
        <div class="col-12">
            <div id="detail-notification">

            </div>
        </div>
    </div>
</div>

