<div class="container">
    <h1 class="mb-3 text-uppercase">Notifications</h1>
    <div class="row">
        <div class="all-notification-area col-12">
            <h2 id="title-all-notification" class="font-italic text-secondary px-3">Tất cả thông báo</h2>
            <div id="list-notification" class="list-notification mt-3 row">

            </div>
        </div>
        <div class="pagination-notification col-12 d-flex justify-content-center py-2">
            <button id="btn-pre-list-notification" class="btn btn-primary mx-2">Previous page</button>
            <button id="btn-nex-list-notification" class="btn btn-primary mx-2">Next page</button>
        </div>
    </div>
</div>