<div class="container">
    <div class="row d-flex justify-content-center">
        <div class=" col-10 col-lg-6">
            <div class="login-area border rounded p-3 shadow">
                <h3 class="text-center">Login</h3>
                <label for="email">Email</label>
                <input type="text" name="email" class="w-100">
                <label for="password">Password</label>
                <input type="password" name="password" class="w-100">
                <div class="login-area__action pt-3 d-flex flex-column">
                    <button class="btn btn-primary px-5 align-item-center">Login</button>
                    <div class="border my-3"></div>
                    <div id="btn-login-google" class="google-btn">
                        <div class="google-icon-wrapper">
                            <img class="google-icon"
                                src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
                        </div>
                        <p class="btn-text"><b>Sign in with google</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>